<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\LikeSchool</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="attendance.aspx">
      <publishTime>07/16/2012 12:13:40</publishTime>
    </File>
    <File Include="bin/Dapper.dll">
      <publishTime>06/09/2011 08:47:22</publishTime>
    </File>
    <File Include="bin/LikeSchool.dll">
      <publishTime>07/31/2012 12:53:40</publishTime>
    </File>
    <File Include="bin/LikeSchool.pdb">
      <publishTime>07/31/2012 12:53:40</publishTime>
    </File>
    <File Include="bin/LikeSchool.Services.DB.dll">
      <publishTime>07/31/2012 03:53:09</publishTime>
    </File>
    <File Include="bin/LikeSchool.Services.DB.pdb">
      <publishTime>07/31/2012 03:53:09</publishTime>
    </File>
    <File Include="calendar.aspx">
      <publishTime>07/31/2012 12:53:26</publishTime>
    </File>
    <File Include="Controls/Calendar.ascx">
      <publishTime>07/31/2012 12:53:36</publishTime>
    </File>
    <File Include="Controls/support.ascx">
      <publishTime>07/31/2012 12:51:35</publishTime>
    </File>
    <File Include="css/bootstrap-responsive.css">
      <publishTime>06/28/2012 12:16:27</publishTime>
    </File>
    <File Include="css/bootstrap-responsive.min.css">
      <publishTime>06/28/2012 12:16:27</publishTime>
    </File>
    <File Include="css/bootstrap.css">
      <publishTime>07/16/2012 11:58:29</publishTime>
    </File>
    <File Include="css/bootstrap.min.css">
      <publishTime>07/16/2012 11:58:33</publishTime>
    </File>
    <File Include="css/calendar/calendar.css">
      <publishTime>07/23/2012 12:26:38</publishTime>
    </File>
    <File Include="css/fullcalendar.css">
      <publishTime>07/19/2012 11:57:03</publishTime>
    </File>
    <File Include="css/fullcalendar.print.css">
      <publishTime>07/19/2012 11:57:10</publishTime>
    </File>
    <File Include="css/main.css">
      <publishTime>07/31/2012 04:04:52</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_dots-small_65_a6a6a6_2x2.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_flat_0_333333_40x100.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_flat_65_ffffff_40x100.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_glass_55_fbf8ee_1x400.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_highlight-hard_100_eeeeee_1x100.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_highlight-hard_100_f6f6f6_1x100.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-bg_highlight-soft_15_cc0000_1x100.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-icons_004276_256x240.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-icons_cc0000_256x240.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/images/ui-icons_ffffff_256x240.png">
      <publishTime>06/14/2012 08:10:40</publishTime>
    </File>
    <File Include="css/uicss/jquery-ui-1.8.21.custom.css">
      <publishTime>06/15/2012 02:46:40</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.accordion.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.all.css">
      <publishTime>06/15/2012 02:46:40</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.autocomplete.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.base.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.button.css">
      <publishTime>06/15/2012 02:46:40</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.core.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.datepicker.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.dialog.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.progressbar.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.resizable.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.selectable.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.slider.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.tabs.css">
      <publishTime>06/15/2012 02:46:37</publishTime>
    </File>
    <File Include="css/uicss/jquery.ui.theme.css">
      <publishTime>06/15/2012 10:31:53</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>07/27/2012 07:16:09</publishTime>
    </File>
    <File Include="img/databg.png">
      <publishTime>06/26/2012 08:38:26</publishTime>
    </File>
    <File Include="img/favicon.ico">
      <publishTime>07/17/2012 09:16:12</publishTime>
    </File>
    <File Include="img/glyphicons-halflings-white.png">
      <publishTime>06/28/2012 12:16:27</publishTime>
    </File>
    <File Include="img/glyphicons-halflings.png">
      <publishTime>06/28/2012 12:16:27</publishTime>
    </File>
    <File Include="index.aspx">
      <publishTime>07/17/2012 05:05:04</publishTime>
    </File>
    <File Include="js/bootstrap-dropdown.js">
      <publishTime>07/30/2012 09:02:03</publishTime>
    </File>
    <File Include="js/bootstrap.js">
      <publishTime>06/28/2012 12:16:28</publishTime>
    </File>
    <File Include="js/bootstrap.min.js">
      <publishTime>07/16/2012 11:46:58</publishTime>
    </File>
    <File Include="js/bootstrap_button.js">
      <publishTime>06/30/2012 09:25:58</publishTime>
    </File>
    <File Include="js/bootstrap_drop.js">
      <publishTime>06/30/2012 10:19:27</publishTime>
    </File>
    <File Include="js/bootstrap_modal.js">
      <publishTime>06/29/2012 01:11:16</publishTime>
    </File>
    <File Include="js/bootstrap_scrollspy.js">
      <publishTime>06/29/2012 01:46:20</publishTime>
    </File>
    <File Include="js/calendar/calendar.js">
      <publishTime>07/24/2012 13:56:11</publishTime>
    </File>
    <File Include="js/fullcalendar.js">
      <publishTime>07/23/2012 08:16:10</publishTime>
    </File>
    <File Include="js/jquery/core/jquery-1.7.2.js">
      <publishTime>06/14/2012 08:09:33</publishTime>
    </File>
    <File Include="js/jquery/ui/jquery-ui-1.8.17.custom.min.js">
      <publishTime>07/19/2012 11:58:40</publishTime>
    </File>
    <File Include="js/jquery/ui/jquery.ui.button.js">
      <publishTime>06/14/2012 08:45:02</publishTime>
    </File>
    <File Include="js/jquery/ui/jquery.ui.core.js">
      <publishTime>06/14/2012 08:45:02</publishTime>
    </File>
    <File Include="js/jquery/ui/jquery.ui.datepicker.js">
      <publishTime>06/19/2012 04:24:37</publishTime>
    </File>
    <File Include="js/jquery/ui/jquery.ui.dialog.js">
      <publishTime>06/21/2012 04:07:49</publishTime>
    </File>
    <File Include="js/jquery/ui/jquery.ui.widget.js">
      <publishTime>06/14/2012 08:45:03</publishTime>
    </File>
    <File Include="js/login.js">
      <publishTime>07/31/2012 12:31:51</publishTime>
    </File>
    <File Include="js/support.js">
      <publishTime>07/31/2012 04:26:17</publishTime>
    </File>
    <File Include="js/thirdparty/date.js">
      <publishTime>06/15/2012 12:49:39</publishTime>
    </File>
    <File Include="js/thirdparty/json2.js">
      <publishTime>07/01/2012 01:40:10</publishTime>
    </File>
    <File Include="js/utilities/utilities.js">
      <publishTime>07/31/2012 04:12:39</publishTime>
    </File>
    <File Include="leave.aspx">
      <publishTime>07/16/2012 12:15:00</publishTime>
    </File>
    <File Include="login.aspx">
      <publishTime>07/31/2012 12:56:54</publishTime>
    </File>
    <File Include="logout.aspx">
      <publishTime>07/27/2012 13:07:37</publishTime>
    </File>
    <File Include="Masterpages/Login.Master">
      <publishTime>07/31/2012 12:53:05</publishTime>
    </File>
    <File Include="Masterpages/mainpage.Master">
      <publishTime>07/31/2012 12:52:10</publishTime>
    </File>
    <File Include="Services/EventService.asmx">
      <publishTime>07/01/2012 03:45:44</publishTime>
    </File>
    <File Include="Services/LoginService.asmx">
      <publishTime>07/25/2012 13:31:17</publishTime>
    </File>
    <File Include="timetable.aspx">
      <publishTime>07/16/2012 12:14:30</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/31/2012 12:57:18</publishTime>
    </File>
  </ItemGroup>
</Project>