

.brand, h1 {
    color: #63B8E3 !important;
}
.loading {
    background-image: url(\\img\\ajax-loader.gif);
    background-repeat: no-repeat;
    background-position-y: 50%;
    text-align: center;
    display: none;
}
.loadingText {
    padding-left: 20px;
}
#features > li {
    margin-top: 10px;
}
.dash {
    margin-top: -25px;
    z-index: 1000;
    text-align: center;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.updater {
   font-family: tahoma; 
   font-size: 11px;
   color: #808080;   
   float: right;
}
    .updater > ul {
        
        list-style-type: none;
    }
#calendar {
    width: 1100px;
    margin: 0 auto;
}

.error {
    color: #DD4B39;
    border-color: #DD4B39 !important;
}

.usernameClass, .passwordClass {
    border: 1px thin black;
}

#errorid, #erroruser, #errorpass {
    display: none;
}

.createSupport > .modal {
    width: 797px;
    top: 33%;
    left: 43%;
}

    .createSupport > .modal > .modal-body {
        max-height: none;
        height: 700px;
    }

#sDesc, #description {
    margin-top: 10px;
}

#sDesc {
    margin-bottom: 10px;
}

#description {
    height: 250px;
}

#loader {
    display: none;
    float: left;
    width: 185px;
}

.loadmodal {
    background: url('../img/ajax-loader.gif') 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    float: left;
}

#searchloading {
    background-position-x:47%;
}