<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="MenuConfiguration"
      type="LikeSchool.Configuration.DashboardConfiguration, 
          LikeSchool.Configuration" 
/>
  </configSections>
  <connectionStrings>
    <add name="likeconnectionstring" connectionString="Data Source=localhost;Initial Catalog=likeschool;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <authentication mode = "Forms" >
      <forms defaultUrl = "index.aspx" loginUrl = " ~/login.aspx " slidingExpiration = "true" timeout = "20"></forms>
    </authentication>
  </system.web>
  <MenuConfiguration configSource="Configuration\Menu.config"/>
</configuration>
