<?xml version="1.0" encoding="utf-8" ?>
<MenuConfiguration>
	<dashboard>
		<add id="1" image="img/dashboard/profile.png" displaytext="Student Details" navigateurl="searchstudent.aspx" roletype="general" ishighlevel="true" clientclickevent=""/>
		<add id="2" image="img/dashboard/attendance.png" displaytext="Attendance" navigateurl="attendance.aspx" roletype="general" ishighlevel="true" clientclickevent=""/>
		<add id="3" image="img/dashboard/leave.png" displaytext="Leave" navigateurl="leave.aspx" roletype="general" ishighlevel="true" clientclickevent=""/>
		<add id="4" image="img/dashboard/timetable.png" displaytext="TimeTable" navigateurl="timetable.aspx" roletype="general" ishighlevel="true" clientclickevent=""/>
		<add id="5" image="img/dashboard/calendar.png" displaytext="Calendar" navigateurl="calendar.aspx" roletype="general" ishighlevel="true" clientclickevent=""/>
		<add id="6" image="img/dashboard/administration.png" displaytext="Administration" navigateurl="administration.aspx?id=6" roletype="admin" ishighlevel="true" clientclickevent=""/>
		<add id="9" image="img/dashboard/admission.png" displaytext="Admission" navigateurl="administration/admission.aspx" roletype="admin" ishighlevel="false" highlevelid="6" clientclickevent=""/>
		<add id="10" image="img/dashboard/teacher.png" displaytext="Teacher" navigateurl="administration/teacher.aspx" roletype="admin" ishighlevel="false" highlevelid="6" clientclickevent=""/>
		<add id="11" image="img/dashboard/course.png" displaytext="Course Manager" navigateurl="administration/course.aspx" roletype="admin" ishighlevel="false" highlevelid="6" clientclickevent=""/>		
		<add id="12" image="img/dashboard/class.png" displaytext="Class Manager" navigateurl="administration/classmanager.aspx" roletype="admin" ishighlevel="false" highlevelid="6" clientclickevent=""/>		
		<add id="7" image="img/dashboard/settings.png" displaytext="Settings" navigateurl="settings.aspx" roletype="admin" ishighlevel="true" clientclickevent=""/>
		<add id="8" image="img/dashboard/support.png" displaytext="Support" navigateurl="#" clientclickevent="InitializeSupport();" roletype="admin" ishighlevel="true"/>
	</dashboard>
</MenuConfiguration>