<?xml version="1.0" encoding="utf-8" ?>
<MenuConfiguration>
  <dashboard>
    <add id="1" image="img/dashboard/profile.png" displaytext="Student Details" navigateurl="searchstudent.aspx" roletype="general" ishighlevel="true"/>
    <add id="2" image="img/dashboard/attendance.png" displaytext="Attendance" navigateurl="attendance.aspx" roletype="general" ishighlevel="true"/>
    <add id="3" image="img/dashboard/leave.png" displaytext="Leave" navigateurl="leave.aspx" roletype="general" ishighlevel="true"/>
    <add id="4" image="img/dashboard/timetable.png" displaytext="TimeTable" navigateurl="timetable.aspx" roletype="general" ishighlevel="true"/>
    <add id="5" image="img/dashboard/calendar.png" displaytext="Calendar" navigateurl="calendar.aspx" roletype="general" ishighlevel="true"/>
    <add id="6" image="img/dashboard/administration.png" displaytext="Administration" navigateurl="administration.aspx?id=6" roletype="admin" ishighlevel="true"/>
    <add id="9" image="img/dashboard/admission.png" displaytext="Admission" navigateurl="admission.aspx" roletype="admin" ishighlevel="false" highlevelid="6"/>
    <add id="7" image="img/dashboard/settings.png" displaytext="Settings" navigateurl="/" roletype="admin" ishighlevel="true"/>
    <add id="8" image="img/dashboard/support.png" displaytext="Support" navigateurl="/" roletype="admin" ishighlevel="true"/>
  </dashboard>
</MenuConfiguration>