
ul > li {
    list-style: none;
}


#displayloading {
    background-position-x: 44%;
}

#calendarloading {
    background-position-x: 47%;
}



div.dataTables_info {
    padding-left: 30px !important;
}

.eventTitle {
    font-weight: bold;
}

.event {
    width: 155px;
    height: 15px;
    margin: 0px;
    font-size: 10px;
    line-height: 13px;
    margin-top: 1px;
}

    .event > a {
        text-decoration: none;
        color: #000;
    }

#pagetitle {
    float: left;
    padding-left: 9px;
    padding-top: 8px;
}

    #pagetitle > h2 {
        color: #6F6F6F;
    }



.nowday, .now > .month_body {
    background-color: #E1E1E1 !important;
    color: #000;
}

#eventbody > ul {
    padding-left: 10px;
    padding-right: 10px;
}

.createEvent > .modal {
    width: 790px;
    top: 33%;
    left: 43%;
}

    .createEvent > .modal > .modal-body {
        max-height: none;
        height: 675px;
    }

.eventWindow {
    display: none;
    font-family: Tahoma;
    font-size: 12px;
}

#title, #description {
    width: 750px;
    margin-top: 10px;
}

#title {
    margin-bottom: 10px;
}

#description {
    height: 250px;
}

#confirmation {
    float: right;
    margin-top: 10px;
}

#eventheader {
    margin-bottom: 10px;
}

.row-fluid .left {
    width: 27.893617%;
}

.row-fluid .right {
    width: 48.978723%;
}

#topsection {
    position: absolute;
    z-index: 1000;
}

#wrapper {
    float: left;
}

#weekbodyright {
    margin-left: 54px;
    margin-top: 30px;
}

#weekbodyleft {
    float: left;
    width: 52px;
    margin-left: -1223px;
    margin-top: 32px;
}


.after > div {
    color: #878787;
}

.weekday, .daybody {
    background-image: url(..\\img\\databg.png);
    width: 165px;
    height: 1012px;
    cursor: pointer;
}

.daybody {
    width: 1167px;
}

#datepicker {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
}

#dateShow {
    padding-left: 20px;
    color: #000;
    font-weight: bold;
}

.before > div {
    color: #878787;
}

#options, #iterator, #dateShow {
    font-family: Tahoma;
    font-size: 8pt;
    padding-top: 10px;
    float: left;
    margin: 0px;
}

.calendarheader {
    height: 50px;
}

.container_calendar {
    padding-left: 30px;
    padding-right: 30px;
}



.month_head, .month_head_now {
    text-align: center;
    padding-top: 5px;
    height: 25px;
    background-color: #3BA1BF;
}

.month_head_now {
    background-color: #E1E1E1;
    color: #000;
}

hr {
    margin: 10px;
}

.settings {
    margin: 10px;
    margin-bottom: 20px;
}

.time_head {
    width: 52px;
    background-color: #878787;
    color: #eee;
}

.time_side_head {
    height: 35px;
}

.week_head {
    width: 165px;
}

.day_head {
    width: 1167px;
}

.day {
    color: #fff;
}

.calendarrightbody {
    font-family: Tahoma;
    font-size: 8pt;
    float: left;
    width: 475px;
    margin-left: -600px;
}

.calendarleftbody {
    font-family: Tahoma;
    font-size: 8pt;
    margin: 0px;
    float: left;
    width: 100%;
}

    .calendarleftbody > #body {
        overflow-y: scroll;
        margin-right: 615px;
        height: 866px;
    }

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #eee;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 6px;
}

.after {
    color: black;
}
